/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/bg.png);
  background-size: cover;
}

section{
  padding: 40px;
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
#contenitore-logo img{
  margin-top: 20px;
  width: 450px;
  height: 100px;
  border-radius: 20px;
}

/* SEZIONE INPUT */
#inputTodo{
  width: 300px;
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
}

#btn-aggiungi{
  height: 40px;
  width: 120px;
  border-radius: 20px;
  color: white;
  background-color: #4040bb;
}

/* SEZIONE LISTA */
#contenitore-lista{
  width: 420px;
  display: flex;
}

#contenitore-lista > ul{
  width: 100%;
}

#contenitore-lista > ul > li{
  padding-top: 10px;
  list-style: none;
  display: flex;
  align-content: space-between;

}

#cont-item{
  width: 100%;
  height: 30px;
  border-bottom: solid 1px grey;
}


.fa-times{
  color: red;
}
