<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://use.fontawesome.com/617605346e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>ToDoList</title>
  </head>
  <body>

    <div id="app">

      <nav>
        <div id="contenitore-logo">
          <img :src="logo" alt="">
        </div>
      </nav>

      <section>
          <input type="text" v-model="todo">
          <button type="button" name="button" @click="aggiungi">Aggiungi</button>
      </section>

      <div id="contenitore-lista">
        <ul >
          <li v-for="item in lista">
            <div id="cont-item">
              <input  type="checkbox"/>
              <label> {{item}} </label>
              <a href="#"> <i class="fa fa-times"></i> </a>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <script src="js/myscript.js"></script>
  </body>
</html>
