<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://use.fontawesome.com/617605346e.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>ToDoList</title>
  </head>
  <body>

    <div id="app">

      <!-- HEADER -->
      <header>
        <div id="contenitore-logo">
          <img :src="logo" alt="">
        </div>
      </header>

      <!-- SEZIONE INPUT -->
      <section>
          <input id="inputTodo" type="text" v-model="newtodo" placeholder="Add New Todo" @keypress.enter="enterTodo">
          <button id="btn-aggiungi" type="button" name="button" @click="aggiungi">Aggiungi</button>
      </section>

      <!-- SEZIONE LISTA -->
      <section id="contenitore-lista">
        <ul>
          <li v-for="(item,index) in lista">
            <div id="cont-item">
              <input type="checkbox" @click="toggleDone"/>
              <label class="todo" :class= "{done: check}"> {{item}} </label>
              <a href="#"> <i class="fa fa-times" @click="rimuovi(item)"></i> </a>
            </div>
          </li>
        </ul>
      </section>

    </div>

    <script src="js/myscript.js"></script>
  </body>
</html>
